# This workflow will install Node.js dependencies, run tests and lint with a variety of Node.js versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Node.js CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

permissions: read-all

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [23.x, 24.x]
      fail-fast: false

    steps:
    - name: Checkout
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
      with:
        node-version: ${{ matrix.node-version }}
    - name: Start Lowkey Vault
      run: |
        docker compose up -d
        sleep 10
        docker ps
    - name: NPM CI
      run: npm ci --ignore-scripts
    - name: Build with NPM
      run: npm run build --if-present
    - name: Test with NPM
      run: npm test
    - name: Stop container
      if: always()
      run: |
        docker compose down
