# This workflow will install Node.js dependencies, run tests and lint with a variety of Node.js versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Node.js CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [14.x, 16.x, 18.x, 19.x]

    steps:
    - name: Checkout
      uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@0a44ba7841725637a19e28fa30b79a866c81b0a6 # v4.0.4
      with:
        node-version: ${{ matrix.node-version }}
    - name: Start Lowkey Vault
      run: |
        docker compose up -d
        sleep 10
        docker ps
    - name: NPM CI
      run: npm ci
    - name: Build with NPM
      run: npm run build --if-present
    - name: Test with NPM
      run: npm test
    - name: Stop container
      if: always()
      run: |
        docker compose down
