# This workflow will install Node.js dependencies, run tests and lint with a variety of Node.js versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Node.js CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [14.x, 16.x, 18.x, 19.x]

    steps:
    - uses: actions/checkout@c85c95e3d7251135ab7dc9ce3241c5835cc595a9 # v3
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@bea5baf987ba7aa777a8a0b4ace377a21c45c381 # v3
      with:
        node-version: ${{ matrix.node-version }}
    - name: Start Lowkey Vault
      run: |
        docker-compose up -d
        sleep 10
        docker ps
    - run: npm ci
    - run: npm run build --if-present
    - run: npm test
    - name: Stop container
      if: always()
      run: |
        docker-compose down
