# This workflow will install Node.js dependencies, run tests and lint with a variety of Node.js versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Node.js CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [23.x, 24.x]
      fail-fast: false

    steps:
    - name: Checkout
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
      with:
        node-version: ${{ matrix.node-version }}
    - name: Start Lowkey Vault
      run: |
        docker compose up -d
        sleep 10
        docker ps
    - name: NPM CI
      run: npm ci --ignore-scripts
    - name: Build with NPM
      run: npm run build --if-present
    - name: Test with NPM
      run: npm test
    - name: Stop container
      if: always()
      run: |
        docker compose down
